<template>
  <v-combobox
    class="pt-1"
    :value="value"
    @input="onChange"
    label="Adresse"
    no-data-text="Adresse inconnue"
    item-text="postale"
    item-value="postale"
    :return-object="false"
    :menu-props="{'z-index': 1000}"
    :items="adresseSuggestions"
    :loader-height="3"
    :loading="isLoading && 'warning'"
    :rules="rules"
    @update:search-input="rechercheDecalee"
    outlined
    auto-select-first
    required
    no-filter
    hide-selected
  />
</template>
<script>
import gql from "graphql-tag";
import { latLng } from "leaflet";

const ADRESSE_QUERY = gql`
  query Adresse($recherche: String!) {
    adresse(recherche: $recherche) {
      postale
      latitude
      longitude
    }
  }
`;

export default {
  props: ["value"],
  data: () => ({
    rules: [v => !!v || "Une adresse est requise"],
    adresseSuggestions: [],
    isLoading: false
  }),
  methods: {
    rechercheDecalee(recherche) {
      if (!recherche) return;

      clearTimeout(this._timerId);

      this._timerId = setTimeout(() => {
        this.isLoading = true;
        this.$apollo
          .query({ query: ADRESSE_QUERY, variables: { recherche } })
          .then(({ data }) => {
            if (data && data.adresse) {
              this.adresseSuggestions = data.adresse;
            }
          })
          .finally(() => (this.isLoading = false));
      }, 500);
    },
    onChange(postale) {
      const adresse = this.adresseSuggestions.find(x => x.postale == postale);

      this.$emit("input", postale);
      if (adresse)
        this.$emit(
          "nouvelle-coordonnes",
          latLng(adresse.latitude, adresse.longitude)
        );
    }
  }
};
</script>