<template>
  <v-dialog v-model="dialog" width="600">
    <v-card v-if="collecte">
      <v-card-text class="pa-8">
        <v-row>
          <v-col>
            <span class="text-overline">Date appel</span>
            <br />
            <span class="font-weight-bold">{{dateAppel}}</span>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <span class="text-overline">Nom</span>
            <br />
            <span class="font-weight-bold">{{collecte.nom}}</span>
          </v-col>
          <v-col>
            <span class="text-overline">Telehpone</span>
            <br />
            <span class="font-weight-bold">{{telephone}}</span>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <span class="text-overline">Tournée</span>
            <br />
            <span class="font-weight-bold">{{collecte.tournee.zone.nom}}</span>
          </v-col>
          <v-col>
            <span class="text-overline">Date</span>
            <br />
            <span class="font-weight-bold">{{dateTournee}}</span>
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <span class="text-overline">Adresse</span>
            <br />
            <span class="font-weight-bold">{{collecte.adresse}}</span>
          </v-col>
        </v-row>
        <v-row v-if="collecte.caracteristiques.length > 0">
          <v-col>
            <span class="text-overline">Caractéristiques vehicule</span>
            <br />
            <v-chip
              v-for="caracteristique in collecte.caracteristiques"
              :key="caracteristique"
              style="margin: 2px"
              small
            >{{caracteristique}}</v-chip>
          </v-col>
        </v-row>
        <v-row v-if="collecte.encombrants.length > 0">
          <v-col>
            <span class="text-overline">Encombrants</span>
            <br />
            <v-chip
              v-for="encombrant in collecte.encombrants"
              :key="encombrant"
              style="margin: 2px"
              small
            >{{encombrant}}</v-chip>
          </v-col>
        </v-row>
        <v-row v-if="collecte.notes">
          <v-col>
            <span class="text-overline">Notes</span>
            <br />
            <span class="font-weight-bold" style="white-space: pre-wrap;">{{collecte.notes}}</span>
          </v-col>
        </v-row>
      </v-card-text>
      <v-divider />
      <v-card-actions>
        <v-btn color="red" text @click="supprimerDialog = true">Supprimer</v-btn>
        <v-spacer></v-spacer>
        <v-btn text @click="dialog = false">Fermer</v-btn>
        <v-btn color="primary" :to="`/collectes/${collecte.id}/modification`" text>Modifier</v-btn>
      </v-card-actions>
    </v-card>
    <v-dialog max-width="600" v-model="supprimerDialog">
      <v-card v-if="collecte">
        <v-card-title>Voulez vous supprimer la collecte de M ou Mme {{ collecte.nom }} ?</v-card-title>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="supprimerDialog = false">Non</v-btn>
          <v-btn color="warning" text @click="supprimer">Oui</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-dialog>
</template>
<script>
import gql from "graphql-tag";
import { format, parseISO } from "date-fns";
import { fr } from "date-fns/locale";
import toTelephone from "../../helpers/toTelephone";

const SUPPRIMER = gql`
  mutation($id: ID!) {
    supprimerCollecte(id: $id)
  }
`;

export default {
  props: {
    value: String
  },
  data: () => ({ dialog: false, supprimerDialog: false }),
  apollo: {
    collecte: {
      query: gql`
        query($id: ID!) {
          collecte(id: $id) {
            id
            nom
            telephone
            adresse
            encombrants
            notes
            creation
            caracteristiques
            tournee {
              id
              date
              zone {
                id
                nom
                communes
              }
            }
          }
        }
      `,
      skip() {
        return !this.value;
      },
      variables() {
        return { id: this.value };
      }
    }
  },
  watch: {
    value(v) {
      if (v) this.dialog = true;
    },
    dialog(state) {
      if (state === false) this.$emit("input", "");
    }
  },
  computed: {
    dateAppel() {
      return this.collecte
        ? format(parseISO(this.collecte.creation), "P", { locale: fr })
        : "";
    },
    dateTournee() {
      return this.collecte
        ? format(parseISO(this.collecte.tournee.date), "P", { locale: fr })
        : "";
    },
    titre() {
      let date = "";
      if (this.collecte?.tournee?.date)
        date = format(parseISO(this.collecte.tournee.date), "P", {
          locale: fr
        });
      return `${this.collecte?.tournee?.zone?.nom} ${date}`;
    },
    sousTitre() {
      return this.collecte?.tournee?.zone?.communes?.join(",");
    },
    telephone() {
      return toTelephone(this.collecte.telephone);
    }
  },
  methods: {
    async supprimer() {
      try {
        await this.$apollo.mutate({
          mutation: SUPPRIMER,
          variables: {
            id: this.value
          }
        });
        this.supprimerDialog = false;
        this.dialog = false;
      } catch (error) {
        this.$notify(error);
      }
    }
  }
};
</script>