<template>
  <v-container>
    <v-text-field
      v-model="search"
      class="mb-5"
      prepend-inner-icon="mdi-magnify"
      label="Rechercher"
      single-line
      hide-details
      clearable
      outlined
    ></v-text-field>
    <v-card outlined>
      <v-data-table
        @click:row="collecteDetail = $event.id"
        :loading="$apolloData.loading > 0"
        :headers="headers"
        :items="collectes"
        :search="search"
        style="cursor: pointer;"
        disable-pagination
        hide-default-footer
      >
        <template v-slot:item.appel="{ item }">{{ appelFormat(item.creation)}}</template>
        <template v-slot:item.telephone="{ item }">{{ toTelephone(item.telephone)}}</template>
      </v-data-table>
    </v-card>
    <collecte-dialog v-model="collecteDetail" />
  </v-container>
</template>
<script>
import gql from "graphql-tag";
import { format, parseISO } from "date-fns";
import { fr } from "date-fns/locale";
import CollecteDialog from "./CollecteDialog";
import toTelephone from "../../helpers/toTelephone";

export default {
  components: { CollecteDialog },
  apollo: {
    collectes: gql`
      {
        collectes {
          id
          nom
          telephone
          adresse
          creation
        }
      }
    `
  },
  data: () => ({
    search: "",
    collectes: [],
    headers: [
      { text: "Appel", value: "appel", divider: true },
      { text: "Nom", value: "nom", divider: true },
      { text: "Telephone", value: "telephone", divider: true },
      { text: "Adresse", value: "adresse", divider: true }
    ],
    collecteDetail: ""
  }),
  watch: {
    collecteDetail(v) {
      if (!v) this.$apollo.queries.collectes.refresh();
    }
  },
  methods: {
    toTelephone,
    appelFormat(date) {
      const d = parseISO(date);
      return format(d, "PPP", { locale: fr });
    }
  }
};
</script>