<template>
  <v-input class="coordonnees-selecteur" v-model="point" :rules="rules">
    <v-card width="100%" outlined>
      <l-map
        :zoom="zoom"
        :max-bounds="maxBounds"
        :min-zoom="minZoom"
        :center="center"
        @click="onClick"
      >
        <l-tile-layer :url="url" :attribution="attribution" />
        <l-marker :lat-lng="startPoint">
          <l-icon :icon-size="[48, 48]" :icon-anchor="[24, 48]">
            <map-marker icon color="secondary">home</map-marker>
          </l-icon>
        </l-marker>
        <l-marker v-if="point" :lat-lng="point">
          <l-icon :icon-size="[48, 48]" :icon-anchor="[24, 48]">
            <map-marker icon color="primary">local_shipping</map-marker>
          </l-icon>
        </l-marker>
      </l-map>
    </v-card>
  </v-input>
</template>
<script>
import { latLngBounds, latLng } from "leaflet";
import { LMap, LTileLayer, LMarker, LIcon } from "vue2-leaflet";
import MapMarker from "../map/MapMarker";

const START_POINT_LATLNG = latLng(43.44987, 5.8878328);
const TILE_URL = process.env.VUE_APP_TILE_URL;

export default {
  components: {
    LMap,
    LTileLayer,
    LMarker,
    LIcon,
    MapMarker
  },
  props: ["value"],
  data: () => ({
    error: false,
    rules: [v => !!v || "Un point doit être séléctionné"],
    url: TILE_URL,
    attribution:
      '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    zoom: 15,
    minZoom: 9,
    center: START_POINT_LATLNG,
    startPoint: START_POINT_LATLNG,
    point: null,
    maxBounds: latLngBounds([
      [43.8692, 5.2171],
      [42.9202, 7.3732]
    ])
  }),
  watch: {
    value(value) {
      this.point = value;
      this.center = value || START_POINT_LATLNG;
    },
    point(point) {
      this.center = point || START_POINT_LATLNG;
    }
  },
  methods: {
    onClick(o) {
      this.point = o.latlng;
      this.$emit("input", this.point);
    },
    centerUpdate(center) {
      this.center = center;
    }
  }
};
</script>

<style lang="css" >
.coordonnees-selecteur .theme--light.v-card.v-card--outlined {
  border-color: var(--v-secondary-lighten4);
  padding: 4px;
}

.coordonnees-selecteur .theme--light.v-card.v-card--outlined:hover,
.coordonnees-selecteur.error--text .theme--light.v-card.v-card--outlined {
  border-width: 2px;
  padding: 3px;
}

.coordonnees-selecteur .theme--light.v-card.v-card--outlined:hover {
  border-color: var(--v-primary-base);
}

.coordonnees-selecteur.error--text .theme--light.v-card.v-card--outlined {
  border-color: var(--v-error-base);
}

.coordonnees-selecteur .vue2leaflet-map {
  height: 400px;
}

.coordonnees-selecteur .v-messages {
  padding-left: 12px;
}
</style>