<template>
  <v-form ref="form" v-model="valide" @submit.prevent="enregistrer">
    <v-container style="max-width: 1200px">
      <v-row>
        <v-col>
          <v-select
            v-model="zone"
            :items="zones"
            :rules="zoneRegles"
            item-value="id"
            :item-text="x => `${x.nom} : ${x.communes.join(', ')}`"
            label="Zone"
            required
            outlined
          />
        </v-col>
        <v-col>
          <v-menu
            v-model="datePicker"
            :close-on-content-click="false"
            transition="scale-transition"
            z-index="1000"
            min-width="290px"
            offset-y
          >
            <template v-slot:activator="{ on }">
              <v-text-field
                v-model="date"
                type="date"
                label="Date"
                prepend-inner-icon="event"
                v-on="on"
                :rules="dateRegles"
                :disabled="!zone"
                readonly
                outlined
              ></v-text-field>
            </template>
            <v-date-picker
              v-model="date"
              :allowed-dates="allowedDates"
              :min="tourneeMin"
              :events="events"
              :first-day-of-week="1"
              @update:picker-date="updateDatePicker"
              @input="datePicker = false"
            ></v-date-picker>
          </v-menu>
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-combobox
            v-model="encombrants"
            label="Encombrants"
            multiple
            small-chips
            deletable-chips
            hide-no-data
            outlined
          />
        </v-col>
      </v-row>

      <v-row justify="center">
        <v-col>
          <v-text-field outlined v-model="nom" :rules="nomRegles" label="Nom" required />
        </v-col>
        <v-col>
          <champ-telephone v-model="telephone" label="Telephone" outlined required />
        </v-col>
      </v-row>

      <v-row justify="center">
        <v-col>
          <adresse-recherche v-model="adresse" @nouvelle-coordonnes="changeCoordonnes" />
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-col>
          <coordonnees-selecteur v-model="coordonnees" />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-select
            v-model="caracteristiquesNecessaires"
            :items="caracteristiques"
            label="Caractéristiques nécessaires du véhicule"
            multiple
            outlined
          />
        </v-col>
      </v-row>

      <v-row>
        <v-col>
          <v-textarea v-model="notes" label="Notes" outlined />
        </v-col>
      </v-row>
      <v-row justify="center">
        <v-btn
          color="error"
          class="mr-8"
          :disabled="enregistrementEnCours"
          @click="$router.back()"
        >Fermer</v-btn>
        <v-btn
          type="button"
          color="accent"
          class="mr-8"
          v-if="modification"
          :loading="enregistrementEnCours"
          to="/collectes/enregistrement"
          replace
        >Dupliquer</v-btn>
        <v-btn
          type="submit"
          color="success"
          :loading="enregistrementEnCours"
          @click="valider"
        >{{ modification ? 'Modifier' : 'Ajouter'}}</v-btn>
      </v-row>
    </v-container>
  </v-form>
</template>

<script>
import { format } from "date-fns";
import gql from "graphql-tag";
import CoordonneesSelecteur from "./CoordonneesSelecteur";
import AdresseRecherche from "./AdresseRecherche";
import ChampTelephone from "../common/ChampTelephone";

const AJOUTER_COLLECTE = gql`
  mutation($collecte: CollecteSaisie!, $zoneId: ID!, $date: Date!) {
    ajouterCollecte(collecte: $collecte, zoneId: $zoneId, date: $date) {
      id
    }
  }
`;

const MODIFIER_COLLECTE = gql`
  mutation($id: ID!, $collecte: CollecteSaisie!, $zoneId: ID!, $date: Date!) {
    modifierCollecte(
      id: $id
      collecte: $collecte
      zoneId: $zoneId
      date: $date
    ) {
      id
    }
  }
`;

export default {
  components: {
    CoordonneesSelecteur,
    AdresseRecherche,
    ChampTelephone
  },
  apollo: {
    caracteristiques: gql`
      {
        caracteristiques
      }
    `,
    zones: gql`
      {
        zones {
          id
          nom
          communes
        }
      }
    `,
    tournees: {
      query: gql`
        query($zoneId: ID, $annee: Int!, $mois: Int!) {
          tournees(zoneId: $zoneId, annee: $annee, mois: $mois) {
            creneau
            date
            places
            placesReservees
          }
        }
      `,
      update(data) {
        const tournees = {};
        for (const tournee of data.tournees) {
          tournees[tournee.date] = tournee;
        }
        return tournees;
      },
      skip() {
        return !this.zone;
      },
      variables() {
        return {
          zoneId: this.zone || undefined,
          annee: this.tourneeAnnee,
          mois: this.tourneeMois
        };
      }
    },
    collecte: {
      query: gql`
        query($id: ID!) {
          collecte(id: $id) {
            id
            nom
            telephone
            adresse
            longitude
            latitude
            encombrants
            notes
            creation
            caracteristiques
            tournee {
              id
              date
              zone {
                id
                nom
                communes
              }
            }
          }
        }
      `,
      variables() {
        return { id: this.$route.params.id };
      },
      skip() {
        return !this.$route.params.id;
      },
      update({ collecte }) {
        this.nom = collecte.nom;
        this.telephone = collecte.telephone;
        this.adresse = collecte.adresse;
        this.zone = collecte.tournee.zone.id;
        this.coordonnees = { lat: collecte.latitude, lng: collecte.longitude };
        this.date = collecte.tournee.date;
        this.encombrants = collecte.encombrants;
        this.caracteristiquesNecessaires = collecte.caracteristiques;
        this.notes = collecte.notes;
      }
    }
  },
  data: () => ({
    valide: false,
    nom: "",
    nomRegles: [v => !!v || "Un nom est requis"],
    telephone: "",
    adresse: "",
    coordonnees: null,
    notes: "",
    encombrants: [],
    caracteristiques: [],
    caracteristiquesNecessaires: [],
    zones: [],
    zone: undefined,
    zoneRegles: [v => !!v || "La zone est requise pour séléctionner la date"],
    tournees: {},
    tournee: undefined,
    tourneeMin: format(new Date(), "yyyy-MM"),
    tourneeAnnee: new Date().getFullYear(),
    tourneeMois: new Date().getMonth(),
    datePicker: false,
    date: undefined,
    dateRegles: [v => !!v || "La date est requise "],
    enregistrementEnCours: false
  }),
  watch: {
    adresse: function(value) {
      if (value) {
        const match = value.match(/.+\d+\s(.+)$/);
        if (match) {
          const zone = this.zones.find(x => x.communes.includes(match[1]));
          if (zone) {
            this.zone = zone.id;
          }
        }
      }
    }
  },
  computed: {
    modification() {
      return !!this.$route.params.id;
    }
  },
  methods: {
    valider(e) {
      const valide = this.$refs.form.validate();
      if (!valide) e.preventDefault();
    },
    reset() {
      this.tournees = [];
      this.$refs.form.reset();
    },
    async enregistrer() {
      this.enregistrementEnCours = true;

      try {
        const { data: ajouterCollecte } = await this.$apollo.mutate({
          mutation: this.modification ? MODIFIER_COLLECTE : AJOUTER_COLLECTE,
          variables: {
            id: this.modification ? this.$route.params.id : undefined,
            zoneId: this.zone,
            date: this.date,
            collecte: {
              nom: this.nom,
              telephone: this.telephone,
              adresse: this.adresse,
              longitude: this.coordonnees.lng,
              latitude: this.coordonnees.lat,
              caracteristiques: this.caracteristiquesNecessaires,
              encombrants: this.encombrants,
              notes: this.notes
            }
          }
        });
        if (this.modification) {
          this.$apollo.queries.collecte.refresh();
        } else {
          this.$router.replace(
            `/collectes/${ajouterCollecte.ajouterCollecte.id}/modification`
          );
        }
      } catch (error) {
        this.$notify(error);
      } finally {
        this.enregistrementEnCours = false;
      }
    },
    changeCoordonnes(coordonnees) {
      this.coordonnees = coordonnees;
    },
    events(date) {
      const tournee = this.tournees[date];
      if (tournee) {
        const placesLibres = tournee.places - tournee.placesReservees;
        if (placesLibres <= 0) return "red";
        if (placesLibres <= 3) return "orange";
        if (tournee.placesReservees > 0) return "green";
      }
      return false;
    },
    allowedDates(date) {
      return !!this.tournees[date];
    },
    updateDatePicker(date) {
      const [annee, mois] = date.split("-").map(x => parseInt(x));
      this.tourneeAnnee = annee;
      this.tourneeMois = mois;
    }
  }
};
</script>