<template>
  <v-app>
    <v-app-bar class="d-print-none" color="white" app absolute flat prominent>
      <v-toolbar-title class="ma-auto text-h2">Courtoise Tournées</v-toolbar-title>
      <template v-slot:extension>
        <v-tabs centered>
          <!-- <v-tab to="/">Accueil</v-tab> -->
          <v-tab to="/collectes">Collectes</v-tab>
          <v-tab to="/tournees">Tournées</v-tab>
          <v-tab to="/vehicules">Véhicules</v-tab>
          <v-tab to="/zones">Zones</v-tab>
          <v-tab to="/rapport">Rapport</v-tab>
        </v-tabs>
      </template>
    </v-app-bar>
    <v-main>
      <changelog />
      <v-container fluid>
        <v-container>
          <v-alert :value="!healthy" type="error" transition="scale-transition">{{errorMessage}}</v-alert>
        </v-container>
        <router-view @gql-error="notify" />
        <v-snackbar v-model="errorSnackbar.open" color="red">{{ errorSnackbar.message }}</v-snackbar>
      </v-container>
      <v-fab-transition>
        <router-view name="fab" />
      </v-fab-transition>
    </v-main>
  </v-app>
</template>

<script>
import gql from "graphql-tag";
import Changelog from "./components/Changelog";

export default {
  name: "App",
  components: { Changelog },
  apollo: {
    healthy: {
      fetchPolicy: "no-cache",
      pollInterval: 5000,
      query: gql`
        {
          healthy
        }
      `,
      error({ graphQLErrors, networkError }) {
        if (graphQLErrors && graphQLErrors.length > 0) {
          this.errorMessage = graphQLErrors[0].message;
        } else if (networkError) {
          this.errorMessage = "Problème de connection";
        }
        this.$nextTick(() => {
          this.setUnhealthy();
        });
      }
    }
  },
  data: () => ({
    healthy: true,
    errorMessage: "",
    notification: {},
    errorSnackbar: {
      open: false,
      message: ""
    }
  }),
  created() {
    this.$setNotify(this.notify);
  },
  methods: {
    setUnhealthy() {
      this.healthy = false;
    },
    notify(error) {
      console.error(error);
      if (error.graphQLErrors && error.graphQLErrors.length > 0) {
        this.errorSnackbar.message = error.graphQLErrors
          .map(x => x.message)
          .join("\n");
      } else {
        this.errorSnackbar.message = "Une erreur est survenue";
      }
      this.errorSnackbar.open = true;
    }
  }
};
</script>

<style>
@media print {
  .v-application--wrap > .v-main {
    padding-top: 0 !important;
  }
  .container {
    margin: 0 !important;
    padding: 0 !important;
    max-width: 100% !important;
  }
}
</style>
