<template>
  <div>
    <v-data-table
      @click:row="collecteDetail = $event.id"
      :headers="headers"
      :items="collectes"
      disable-pagination
      hide-default-footer
      disable-sort
    />
    <collecte-dialog v-model="collecteDetail" />
  </div>
</template>

<script>
import CollecteDialog from "../collectes/CollecteDialog";

export default {
  components: { CollecteDialog },
  props: {
    collectes: Array
  },
  data: () => ({
    collecteDetail: "",
    headers: [
      { text: "Nom", value: "nom" },
      { text: "Telephone", value: "telephone" },
      { text: "Adresse", value: "adresse" }
    ]
  })
};
</script>
