<template>
  <v-list>
    <v-list-item v-for="vehicule in vehicules" :key="vehicule.id">
      <v-list-item-content>
        <v-list-item-title>
          <span v-if="vehicule.caracteristiques.length == 0">{{vehicule.modele}}</span>
          <v-tooltip v-else right>
            <template v-slot:activator="{ on, attrs }">
              <span v-bind="attrs" v-on="on">{{vehicule.modele}}</span>
              <span class="ml-1" style="color: var(--v-error-base)">*</span>
            </template>
            <span>{{vehicule.caracteristiques.join(", ")}}</span>
          </v-tooltip>
        </v-list-item-title>
      </v-list-item-content>
      <v-list-item-action class="flex-row">
        <v-btn @click="reduire(vehicule.id)" icon :disabled="quantite(vehicule.id) == 0">
          <v-icon color="primary">mdi-minus</v-icon>
        </v-btn>
        <label class="my-auto mx-1">{{quantite(vehicule.id)}}</label>
        <v-btn @click="augmenter(vehicule.id)" icon>
          <v-icon color="primary">mdi-plus</v-icon>
        </v-btn>
      </v-list-item-action>
    </v-list-item>
  </v-list>
</template>
<script>
export default {
  props: {
    vehicules: Array,
    tourneeVehicules: Array
  },
  computed: {
    vehiculeQuantite() {
      const q = {};
      for (const vehicule of this.tourneeVehicules) {
        q[vehicule.id] = vehicule.quantite;
      }
      return q;
    }
  },
  methods: {
    quantite(id) {
      return this.vehiculeQuantite[id] || 0;
    },
    augmenter(id) {
      const vehicule = this.tourneeVehicules.find(x => x.id === id);
      if (vehicule) {
        vehicule.quantite++;
      } else {
        this.tourneeVehicules.push({ id, quantite: 1 });
      }
      this.$emit("update");
    },
    reduire(id) {
      const vehicule = this.tourneeVehicules.find(x => x.id === id);
      if (vehicule.quantite > 1) {
        vehicule.quantite--;
      } else {
        const index = this.tourneeVehicules.findIndex(x => x.id === id);
        this.tourneeVehicules.splice(index, 1);
      }
      this.$emit("update");
    }
  }
};
</script>