<template>
  <v-sheet class="tournee-map ma-auto" width="100%" height="100%">
    <l-map
      :options="{ zoomDelta: 0.25, zoomSnap: 0.25 }"
      :max-bounds="maxBounds"
      :bounds="bounds"
      :min-zoom="minZoom"
    >
      <l-tile-layer :url="url" :attribution="attribution" />
      <l-polyline
        v-for="(polyline, index) in polylines"
        :key="`polyline-${index}`"
        :lat-lngs="polyline"
        :color="color(index)"
      />
      <l-marker :lat-lng="entrepot">
        <l-icon :icon-size="[48, 48]" :icon-anchor="[24, 48]">
          <map-marker icon color="secondary">home</map-marker>
        </l-icon>
      </l-marker>
      <l-marker
        v-for="(marker, index) in markers"
        :key="`marker-${index}`"
        :lat-lng="marker.latLng"
      >
        <l-icon :icon-size="[48, 48]" :icon-anchor="[24, 48]">
          <map-marker :color="marker.color">{{ marker.label }}</map-marker>
        </l-icon>
      </l-marker>
    </l-map>
  </v-sheet>
</template>
<script>
import { LMap, LTileLayer, LPolyline, LIcon, LMarker } from "vue2-leaflet";
import { latLngBounds, latLng } from "leaflet";
import polyline from "polyline-extended";
import colors from "vuetify/lib/util/colors";
import MapMarker from "../map/MapMarker";

const START_POINT_LATLNG = latLng(43.44987, 5.8878328);
const TILE_URL = process.env.VUE_APP_TILE_URL;

export default {
  components: {
    LMap,
    LTileLayer,
    LPolyline,
    LIcon,
    LMarker,
    MapMarker
  },
  props: {
    itineraires: Array
  },
  data: () => ({
    url: TILE_URL,
    attribution:
      '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    maxBounds: latLngBounds([
      [43.8692, 5.2171],
      [42.9202, 7.3732]
    ]),
    minZoom: 9,
    entrepot: START_POINT_LATLNG,
    colors: [
      colors.red.base,
      colors.blue.base,
      colors.indigo.base,
      colors.teal.base,
      colors.pink.base,
      colors.lightBlue.base,
      colors.purple.base,
      colors.cyan.base
    ]
  }),
  computed: {
    polylines() {
      return this.itineraires.map(x => polyline.decode(x.geometrie));
    },
    markers() {
      return this.itineraires.flatMap((x, i) =>
        x.collectes.map((y, j) => ({
          latLng: latLng(y.latitude, y.longitude),
          color: this.color(i),
          label: j + 1
        }))
      );
    },
    bounds() {
      return latLngBounds(this.markers.map(x => x.latLng));
    }
  },
  methods: {
    color(i) {
      return this.colors[i % this.colors.length];
    }
  }
};
</script>
<style>
.tournee-map {
  position: relative;
}

.tournee-map > .vue2leaflet-map {
  z-index: 0;
}

.tournee-map > .vue2leaflet-map::before {
  box-shadow: inset -3px 5px 18px 1px rgba(0, 0, 0, 0.14);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 1000;
}
</style>