<template>
  <div class="tournee">
    <v-progress-linear :active="$apollo.loading || loading  " indeterminate />
    <v-row no-gutters>
      <v-col cols="8">
        <tournee-map :itineraires="itineraires" />
      </v-col>
      <v-col style="overflow-y: scroll; height: 100%; ">
        <v-divider />
        <h2 class="text-h5 text-center mt-5">{{titre}}</h2>
        <v-row class="mx-2">
          <v-col cols="12">
            <champ-editable label="Date" :value="date" @save="modifier">
              <template v-slot="{attrs, on}">
                <tournee-date-picker
                  v-model="tournee.date"
                  v-bind="attrs"
                  v-on="on"
                  :zoneId="tournee.zone.id"
                  inverse
                  existante
                />
              </template>
            </champ-editable>
          </v-col>
          <v-col>
            <champ-editable label="Créneau" :value="creneauLabel" @save="modifier">
              <template v-slot="{attrs, on}">
                <v-select
                  v-bind="attrs"
                  v-on="on"
                  v-model="tournee.creneau"
                  :items="creneauPossibles"
                />
              </template>
            </champ-editable>
          </v-col>
          <v-col>
            <champ-editable
              label="Places"
              :value="`${tournee.placesReservees} / ${tournee.places}`"
              @save="modifier"
            >
              <template v-slot="{attrs, on}">
                <v-text-field
                  v-bind="attrs"
                  v-on="on"
                  v-model.number="tournee.places"
                  min="1"
                  type="number"
                />
              </template>
            </champ-editable>
          </v-col>
        </v-row>
        <v-expansion-panels flat hover>
          <v-expansion-panel>
            <v-expansion-panel-header>
              <div>
                <v-icon class="mr-2" dense>mdi-car</v-icon>Vehicules
                <span
                  v-if="collectesCaracteristiques.length > 0"
                  class="ml-1"
                  style="color: var(--v-error-base)"
                >*</span>
              </div>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <tournee-vehicules
                :vehicules="vehicules"
                :tourneeVehicules="tournee.vehicules"
                @update="modifier"
              />
            </v-expansion-panel-content>
          </v-expansion-panel>
          <v-expansion-panel>
            <v-expansion-panel-header>
              <div>
                <v-icon class="mr-2" dense>list</v-icon>Collectes
              </div>
            </v-expansion-panel-header>
            <v-expansion-panel-content>
              <tournee-collectes :collectes="collectes" />
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
        <v-row class="tournee-actions mb-5" justify="space-around" no-gutters>
          <v-btn color="error" disabled>
            <v-icon class="mr-2">delete</v-icon>Supprimer
          </v-btn>
          <v-btn
            color="primary"
            :to="`/tournee/${$route.params.id}/itineraires`"
            :disabled="itineraires.length == 0"
          >
            <v-icon class="mr-2">directions</v-icon>Itineraires
          </v-btn>
        </v-row>
      </v-col>
    </v-row>
  </div>
</template>
<script>
import gql from "graphql-tag";
import { format, parseISO } from "date-fns";
import { fr } from "date-fns/locale";
import TourneeVehicules from "./TourneeVehicules";
import TourneeMap from "./TourneeMap";
import TourneeCollectes from "./TourneeCollectes";
import ChampEditable from "../common/ChampEditable";
import TourneeDatePicker from "../tournees/TourneeDatePicker";

const MODIFIER = gql`
  mutation($id: ID!, $configuration: TourneeConfigurationSaisie!, $date: Date) {
    modifierTournee(id: $id, configuration: $configuration, date: $date) {
      id
    }
  }
`;

export default {
  components: {
    TourneeMap,
    TourneeVehicules,
    TourneeCollectes,
    ChampEditable,
    TourneeDatePicker
  },
  apollo: {
    tournee: {
      fetchPolicy: "no-cache",
      query: gql`
        query($id: ID!) {
          tournee(id: $id) {
            id
            date
            places
            placesReservees
            creneau
            zone {
              id
              nom
              communes
            }
            vehicules {
              id
              quantite
            }
          }
        }
      `,
      variables() {
        return { id: this.$route.params.id };
      }
    },
    collectes: {
      query: gql`
        query($id: ID!) {
          collectes(tourneeId: $id) {
            id
            nom
            telephone
            adresse
            caracteristiques
            longitude
            latitude
          }
        }
      `,
      variables() {
        return { id: this.$route.params.id };
      }
    },
    itineraires: {
      query: gql`
        query($tourneeId: ID!) {
          itineraires(tourneeId: $tourneeId) {
            geometrie
            duree
            distance
            collectes {
              id
              nom
              telephone
              adresse
              longitude
              latitude
            }
          }
        }
      `,
      variables() {
        return { tourneeId: this.$route.params.id };
      },
      update({ itineraires }) {
        return itineraires || [];
      }
    },
    vehicules: gql`
      {
        vehicules {
          id
          modele
          quantite
          caracteristiques
        }
      }
    `
  },
  data: () => ({
    loading: false,
    itineraires: [],
    collectes: [],
    vehicules: [],
    tournee: {},
    creneauPossibles: [
      { value: "MATIN", text: "Matin" },
      { value: "APRESMIDI", text: "Après-Midi" },
      { value: "JOURNEE", text: "Journée" }
    ]
  }),
  computed: {
    titre() {
      if (this.tournee.date === undefined) return "";
      return `${this.tournee.zone.nom} - ${this.tournee.zone.communes.join(
        ", "
      )}`;
    },
    date() {
      if (this.tournee.date === undefined) return "";
      return format(parseISO(this.tournee.date), "P", { locale: fr });
    },
    creneauLabel() {
      return this.creneauPossibles.find(x => x.value === this.tournee.creneau)
        ?.text;
    },
    collectesCaracteristiques() {
      return [...new Set(this.collectes.flatMap(x => x.caracteristiques))];
    }
  },
  methods: {
    async modifier() {
      const { id, creneau, date, places, vehicules, zone } = this.tournee;
      this.loading = true;
      try {
        await this.$apollo.mutate({
          mutation: MODIFIER,
          variables: {
            id,
            date,
            configuration: {
              zoneId: zone.id,
              creneau,
              places,
              vehicules
            }
          }
        });
        this.$apollo.queries.itineraires.refresh();
        this.$apollo.queries.tournee.refresh();
      } catch (error) {
        this.$notify(error);
      }
      this.loading = false;
    }
  }
};
</script>
<style>
.tournee {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.tournee > .v-progress-linear {
  z-index: 1000;
}

.tournee,
.tournee > .row {
  height: 100%;
}

.tournee .tournee-actions {
  position: sticky;
  top: calc(100% - 56px);
}
</style>