<template>
  <v-card outlined>
    <v-card-title>Caractéristiques</v-card-title>
    <v-list-item v-for="caracteristique in  caracteristiques" :key="caracteristique">
      <v-list-item-content>
        <v-list-item-title>{{caracteristique}}</v-list-item-title>
      </v-list-item-content>
      <v-list-item-action>
        <v-btn @click="supprimer(caracteristique)" icon>
          <v-icon>delete</v-icon>
        </v-btn>
      </v-list-item-action>
    </v-list-item>
    <v-list-item>
      <v-list-item-content>
        <v-text-field v-model="nouvelleCaracteristique" placeholder="Nouvelle caractéristique" />
      </v-list-item-content>
      <v-list-item-action>
        <v-btn color="primary" :disabled="!nouvelleCaracteristique" icon @click="ajouter">
          <v-icon>add</v-icon>
        </v-btn>
      </v-list-item-action>
    </v-list-item>
  </v-card>
</template>

<script>
import gql from "graphql-tag";

const AJOUTER = gql`
  mutation($label: String!) {
    ajouterCaracteristique(label: $label)
  }
`;

const SUPPRIMER = gql`
  mutation($label: String!) {
    supprimerCaracteristique(label: $label)
  }
`;

export default {
  apollo: {
    caracteristiques: gql`
      {
        caracteristiques
      }
    `
  },
  data: () => ({
    nouvelleCaracteristique: "",
    caracteristiques: []
  }),
  methods: {
    async ajouter() {
      try {
        await this.$apollo.mutate({
          mutation: AJOUTER,
          variables: { label: this.nouvelleCaracteristique }
        });
        this.$apollo.queries.caracteristiques.refresh();
      } catch (error) {
        this.$notify(error);
      } finally {
        this.nouvelleCaracteristique = "";
      }
    },
    async supprimer(label) {
      try {
        await this.$apollo.mutate({
          mutation: SUPPRIMER,
          variables: { label }
        });
        this.$apollo.queries.caracteristiques.refresh();
      } catch (error) {
        this.$notify(error);
      }
    }
  }
};
</script>
