<template>
  <v-container>
    <v-row class="flex-wrap-reverse">
      <v-col cols="12" md="8">
        <v-row>
          <v-card
            outlined
            :width="cardWidth"
            class="ma-3"
            v-for="vehicule in vehicules"
            :key="vehicule.id"
          >
            <v-row no-gutters>
              <v-card-title class="mr-auto">{{vehicule.modele}}</v-card-title>
              <v-btn @click="() => reduire(vehicule.id)" class="my-auto" color="primary" icon small>
                <v-icon>mdi-minus</v-icon>
              </v-btn>
              <p class="text-h6 my-auto mx-3">{{vehicule.quantite}}</p>
              <v-btn
                @click="() => augmenter(vehicule.id)"
                class="my-auto mr-3"
                color="primary"
                icon
                small
              >
                <v-icon>mdi-plus</v-icon>
              </v-btn>
            </v-row>
            <!-- <v-list flat>
              <v-list-item-group
                :value="vehicule.caracteristiques"
                @change="changeVehiculeCaracteristiques"
                multiple
            >-->
            <v-list-item
              v-for="caracteristique in caracteristiques"
              :key="caracteristique"
              :value="caracteristique"
              @click="changeVehiculeCaracteristique(vehicule, caracteristique)"
            >
              <!-- <template v-slot:default="{ active }"> -->
              <v-list-item-action>
                <v-checkbox :input-value="vehicule.caracteristiques.includes(caracteristique)"></v-checkbox>
              </v-list-item-action>

              <v-list-item-content>
                <v-list-item-title>{{caracteristique}}</v-list-item-title>
              </v-list-item-content>
              <!-- </template> -->
            </v-list-item>
            <!-- </v-list-item-group>
            </v-list>-->
          </v-card>
          <v-dialog max-width="800" :value="nouveauDialog" @input="goVehicules">
            <v-card>
              <v-card-title>Nouveau vehicule</v-card-title>
              <v-card-text>
                <v-text-field
                  outlined
                  hide-details
                  class="my-3"
                  label="Modele"
                  v-model="nouveauVehicule"
                ></v-text-field>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text @click="goVehicules">Fermer</v-btn>
                <v-btn
                  color="primary"
                  text
                  :disabled="!nouveauVehicule"
                  @click="ajouter"
                >Enregistrer</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
          <v-dialog max-width="600" v-model="supprimerDialog">
            <v-card>
              <v-card-title>Voulez vous supprimer le vehicule {{ supprimerVehicule.modele }} ?</v-card-title>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn text @click="supprimerDialog = false">Non</v-btn>
                <v-btn color="warning" text @click="supprimer">Oui</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-row>
      </v-col>
      <v-col cols="12" md="4">
        <caracteristiques />
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import gql from "graphql-tag";
import Caracteristiques from "./Caracteristiques";

const AJOUTER_VEHICULE_CARACTERISTIQUE = gql`
  mutation($id: ID!, $caracteristique: String!) {
    ajouterVehiculeCaracteristique(id: $id, caracteristique: $caracteristique) {
      id
      caracteristiques
    }
  }
`;

const ENLEVER_VEHICULE_CARACTERISTIQUE = gql`
  mutation($id: ID!, $caracteristique: String!) {
    enleverVehiculeCaracteristique(id: $id, caracteristique: $caracteristique) {
      id
      caracteristiques
    }
  }
`;

const AUGMENTER_VEHICULE_QUANTITE = gql`
  mutation($id: ID!) {
    augmenterVehiculeQuantite(id: $id) {
      id
      quantite
    }
  }
`;

const REDUIRE_VEHICULE_QUANTITE = gql`
  mutation($id: ID!) {
    reduireVehiculeQuantite(id: $id) {
      id
      quantite
    }
  }
`;

const SUPPRIMER_VEHICULE = gql`
  mutation($id: ID!) {
    supprimerVehicule(id: $id)
  }
`;

export default {
  components: { Caracteristiques },
  apollo: {
    vehicules: gql`
      {
        vehicules {
          id
          modele
          quantite
          caracteristiques
        }
      }
    `,
    caracteristiques: gql`
      {
        caracteristiques
      }
    `
  },
  data: () => ({
    cardWidth: 344,
    nouveauVehicule: "",
    supprimerVehicule: {},
    supprimerDialog: false,
    vehicules: [],
    caracteristiques: []
  }),
  computed: {
    nouveauDialog() {
      return this.$route.path.includes("/nouveau");
    }
  },
  methods: {
    goVehicules() {
      return this.$router.replace("/vehicules");
    },
    async augmenter(id) {
      try {
        await this.$apollo.mutate({
          mutation: AUGMENTER_VEHICULE_QUANTITE,
          variables: {
            id
          }
        });
        this.$apollo.queries.vehicules.refetch();
      } catch (error) {
        this.$notify(error);
      }
    },
    async reduire(id) {
      const vehicule = this.vehicules.find(x => x.id == id);

      if (vehicule.quantite > 1) {
        try {
          await this.$apollo.mutate({
            mutation: REDUIRE_VEHICULE_QUANTITE,
            variables: {
              id
            }
          });
          this.$apollo.queries.vehicules.refetch();
        } catch (error) {
          this.$notify(error);
        }
      } else {
        this.supprimerVehicule = vehicule;
        this.supprimerDialog = true;
      }
    },
    async supprimer() {
      try {
        await this.$apollo.mutate({
          mutation: SUPPRIMER_VEHICULE,
          variables: {
            id: this.supprimerVehicule.id
          }
        });
        this.supprimerDialog = false;
        this.supprimerVehicule = {};
        this.$apollo.queries.vehicules.refetch();
      } catch (error) {
        this.$notify(error);
      }
    },
    ajouter() {
      this.$apollo
        .mutate({
          mutation: gql`
            mutation($modele: String!) {
              ajouterVehicule(modele: $modele) {
                id
                quantite
              }
            }
          `,
          variables: {
            modele: this.nouveauVehicule
          }
        })
        .then(() => {
          this.goVehicules();
          this.nouveauVehicule = "";
          return this.$apollo.queries.vehicules.refetch();
        })
        .catch(error => {
          this.$notify(error);
        });
    },
    async changeVehiculeCaracteristique(vehicule, caracteristique) {
      const existe = vehicule.caracteristiques.includes(caracteristique);
      try {
        await this.$apollo.mutate({
          mutation: existe
            ? ENLEVER_VEHICULE_CARACTERISTIQUE
            : AJOUTER_VEHICULE_CARACTERISTIQUE,
          variables: {
            id: vehicule.id,
            caracteristique
          }
        });
        this.$apollo.queries.vehicules.refetch();
      } catch (error) {
        this.$notify(error);
      }
    }
  }
};
</script>