<template>
  <v-container>
    <v-sheet>
      <v-toolbar flat color="white">
        <v-btn
          outlined
          class="mr-4 d-print-none"
          color="grey darken-2"
          :disabled="cetteAnnee == annee"
          @click="$router.replace(`/rapport/${cetteAnnee}`)"
        >Cette année</v-btn>
        <v-btn
          fab
          text
          small
          class="d-print-none"
          color="grey darken-2"
          @click="$router.replace(`/rapport/${annee-1}`)"
        >
          <v-icon small>mdi-chevron-left</v-icon>
        </v-btn>
        <v-btn
          fab
          text
          small
          class="d-print-none"
          color="grey darken-2"
          @click="$router.replace(`/rapport/${annee+1}`)"
        >
          <v-icon small>mdi-chevron-right</v-icon>
        </v-btn>
        <v-toolbar-title>La Courtoise Ressourcerie : Adressses collectées en {{ annee }}</v-toolbar-title>
      </v-toolbar>
    </v-sheet>
    <v-data-table
      :headers="headers"
      :items="rapport"
      sort-by="commune"
      disable-pagination
      hide-default-footer
    >
      <template v-slot:item.nombres="{ value, header: {index} }">{{value[index]}}</template>
      <template v-slot:item.total="{ item }">{{ item.nombres.reduce((a,v) => a + v,0) }}</template>
      <template v-slot:body.append="{items}">
        <tr>
          <th>Total</th>
          <th v-for="x in 12" :key="x">{{items.reduce((a,v) => a + v.nombres[x-1], 0)}}</th>
          <th>{{items.flatMap(x => x.nombres).reduce((a,v) => a+v,0)}}</th>
        </tr>
      </template>
    </v-data-table>
  </v-container>
</template>

<script>
import gql from "graphql-tag";
import { fr } from "date-fns/locale";
import { format } from "date-fns";

export default {
  apollo: {
    rapport: {
      query: gql`
        query($annee: Int!) {
          rapport(annee: $annee) {
            commune
            nombres
          }
        }
      `,
      variables() {
        return { annee: parseInt(this.$route.params.annee) };
      }
    }
  },
  data: () => ({
    headers: [
      { text: "Commune", value: "commune", sortable: false },
      ...[...Array(12).keys()].map((x, index) => ({
        text: fr.localize.month(x),
        value: "nombres",
        sortable: false,
        index
      })),
      { text: "Total", value: "total", sortable: false }
    ],
    rapport: [],
    cetteAnnee: format(new Date(), "yyyy")
  }),
  computed: {
    annee() {
      return parseInt(this.$route.params.annee);
    }
  }
};
</script>