<template>
  <v-btn
    style="z-index: 1000"
    color="pink"
    class="d-print-none"
    @click="print"
    dark
    fixed
    large
    fab
    bottom
    right
  >
    <v-icon>print</v-icon>
  </v-btn>
</template>
<script>
export default {
  methods: {
    print() {
      window.print();
    }
  }
};
</script>