<template>
  <v-container>
    <table class="itineraire" v-for="(itineraire, i) in itineraires" :key="i">
      <thead>
        <tr>
          <td>
            <v-row class="mb-3" no-gutters>
              <v-col cols="auto" align-self="center" class="mr-5">
                <img width="200px" :src="require('../../assets/bandeau.png')" />
              </v-col>
              <v-col align-self="center">
                <h1 class="text-h6">
                  {{ tourneeDate }} - {{ tournee.zone.nom }}
                  <span
                    class="font-weight-light"
                  >{{ itineraires.length > 1 ? `(${i + 1}/${itineraires.length})` : "" }}</span>
                </h1>
                <h2 class="text-subtitle-1">{{ tournee.zone.communes.join(" / ") }}</h2>
              </v-col>
              <v-col class="text-right mr-5" align-self="center" cols="auto">
                <span class="text-overline">Immatriculation</span>
                <br />
                <span class="font-weight-bold text-caption" style="visibility: hidden;">à remplir</span>
              </v-col>
              <v-col class="text-right mr-5" align-self="center" cols="auto">
                <span class="text-overline">Véhicule</span>
                <br />
                <span class="font-weight-bold text-caption">{{ itineraire.vehicule.modele }}</span>
              </v-col>
              <v-col class="text-right" align-self="center" cols="auto">
                <span class="text-overline">éstimation trajet</span>
                <br />
                <span
                  class="font-weight-bold text-caption"
                >{{ Math.round(itineraire.distance / 1000) }} km</span>
                <span class="text-caption">&nbsp;&nbsp;({{ dureeFormat(itineraire.duree) }})</span>
              </v-col>
            </v-row>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <v-row style="height: 150px">
              <v-col>
                <v-card class="itineraire-champs" height="100%" outlined>
                  <v-row class="text-center" style="height: 100%">
                    <v-col class="d-flex flex-column">
                      <span class="text-overline">Heure</span>
                      <v-row no-gutters>
                        <v-col>
                          <span class="text-overline">départ</span>
                        </v-col>
                        <v-divider inset vertical />
                        <v-col>
                          <span class="text-overline">arrivé</span>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-divider inset vertical />
                    <v-col class="d-flex flex-column">
                      <span class="text-overline mb-1">Chauffeur</span>
                      <span class="text-overline font-weight-light">(nom & signature)</span>
                    </v-col>
                    <v-divider inset vertical />
                    <v-col class="d-flex flex-column">
                      <span class="text-overline mb-1">équipiers</span>
                      <span class="text-overline font-weight-light">(nom & signature)</span>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
              <v-col>
                <v-card height="100%" outlined>
                  <v-row class="text-center" style="height: 100%">
                    <v-col class="d-flex flex-column">
                      <span class="text-overline">GDR</span>
                      <v-row no-gutters>
                        <v-col>
                          <span class="text-overline">Le</span>
                        </v-col>
                        <v-divider inset vertical />
                        <v-col>
                          <span class="text-overline">Ref</span>
                        </v-col>
                        <v-divider inset vertical />
                        <v-col>
                          <span class="text-overline">Poids</span>
                        </v-col>
                      </v-row>
                    </v-col>
                    <v-divider inset vertical />
                    <v-col cols="4" class="d-flex flex-column">
                      <span class="text-overline mb-1">Compta</span>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
            <v-row style="height: 150px">
              <v-col>
                <v-card height="100%" outlined>
                  <v-row class="text-center" style="height: 100%">
                    <v-col class="d-flex flex-column">
                      <span class="text-overline">Administratif</span>
                    </v-col>
                  </v-row>
                </v-card>
              </v-col>
            </v-row>
            <v-data-table
              :headers="headers"
              :items="itineraire.collectes"
              class="collectes-table"
              hide-default-footer
              disable-pagination
              disable-sort
              dense
            >
              <template v-slot:item.numero="{ item }">{{ item.index + 1 }}</template>
              <template v-slot:item.qrcode="{ item }">
                <div class="d-flex">
                  <qrcode
                    class="my-1"
                    :value="`geo:${item.latitude},${item.longitude}?q=${item.adresse}&z=16`"
                    :options="{ width: 76, margin:0}"
                  />
                </div>
              </template>
              <template v-slot:item.appel="{ item }">{{ appelFormat(item.creation) }}</template>
              <template v-slot:item.contact="{ item }">
                {{ item.nom }}
                <br />
                <span style="white-space: nowrap">{{ toTelephone(item.telephone) }}</span>
              </template>
              <template v-slot:item.encombrants="{ item }">{{ item.encombrants.join(", ") }}</template>
              <template v-slot:item.notes="{ item }">
                <div style="white-space: pre-wrap;">{{ item.notes }}</div>
              </template>
              <template v-slot:item.fait>
                <v-simple-checkbox />
              </template>
              <template v-slot:item.a_telephone>
                <v-simple-checkbox />
              </template>
              <template v-slot:header.a_telephone="{ header }">
                {{ header.text }}
                <v-divider class="mt-1" />
                <div class="d-flex align-center font-weight-light">
                  <span style="width: 50%">En direct</span>
                  <v-divider class="mx-1" vertical />
                  <span style="width: 50%">Par message</span>
                </div>
              </template>
              <template v-slot:item.a_telephone>
                <div class="d-flex justify-space-around">
                  <v-simple-checkbox style="width: 50%" />
                  <v-simple-checkbox style="width: 50%" />
                </div>
              </template>
              <template v-slot:header.motif="{ header }">
                {{ header.text }}
                <v-divider class="mt-1" />
                <div class="d-flex align-center font-weight-light" style="min-width: 200px;">
                  <span style="width: 25%">Non sorti</span>
                  <v-divider class="mx-1" vertical />
                  <span style="width: 25%">Adresse erronée</span>
                  <v-divider class="mx-1" vertical />
                  <span style="width: 50%">Autre</span>
                </div>
              </template>
              <template v-slot:item.motif>
                <div class="d-flex justify-space-around">
                  <v-simple-checkbox style="width: 25%" />
                  <v-simple-checkbox style="width: 25%" />
                  <div style="width: 50%" />
                </div>
              </template>
            </v-data-table>
            <v-data-table
              class="dechetteries-table mt-10"
              :headers="dechetterieHeaders"
              :items="dechetteries"
              hide-default-footer
              disable-pagination
              disable-sort
            >
              <template v-slot:item.checkbox>
                <v-simple-checkbox />
              </template>
            </v-data-table>
            <v-row
              v-for="carteIndex in itineraire.nombreCartes"
              :key="carteIndex"
              class="pagebreak map-row"
            >
              <v-sheet class="sheet-map ma-auto" width="1000" height="600" color="red">
                <l-map
                  :options="{ zoomDelta: 0.25, zoomSnap: 0.25 }"
                  :max-bounds="maxBounds"
                  :bounds="
              itineraire.collectes.length > 1 ? itineraire.bounds : maxBounds
            "
                  :min-zoom="minZoom"
                >
                  <l-tile-layer :url="url" :attribution="attribution" />
                  <l-feature-group ref="markers">
                    <l-polyline :lat-lngs="itineraire.latLngs" :weight="2" />
                    <l-marker :lat-lng="entrepot">
                      <l-icon :icon-size="[48, 48]" :icon-anchor="[24, 48]">
                        <map-marker icon color="secondary">home</map-marker>
                      </l-icon>
                    </l-marker>
                    <l-marker
                      v-for="(collecte, j) in itineraire.collectes"
                      :key="collecte.id"
                      :lat-lng="collecte.latLng"
                    >
                      <l-icon :icon-size="[48, 48]" :icon-anchor="[24, 48]">
                        <map-marker color="primary">{{ j + 1 }}</map-marker>
                      </l-icon>
                    </l-marker>
                  </l-feature-group>
                </l-map>
              </v-sheet>
            </v-row>
            <v-row class="d-print-none" justify="center" style="transform: translateY(-200%)">
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn color="primary" v-on="on" @click="itineraire.nombreCartes++" icon large>
                    <v-icon>mdi-plus</v-icon>
                  </v-btn>
                </template>
                <span>Ajouter une carte</span>
              </v-tooltip>
              <v-tooltip bottom>
                <template v-slot:activator="{ on }">
                  <v-btn
                    color="primary"
                    v-on="on"
                    :disabled="itineraire.nombreCartes === 1"
                    @click="itineraire.nombreCartes--"
                    icon
                    large
                  >
                    <v-icon>mdi-minus</v-icon>
                  </v-btn>
                </template>
                <span>Enlever la dernière carte</span>
              </v-tooltip>
            </v-row>
          </td>
        </tr>
      </tbody>
    </table>
  </v-container>
</template>
<script>
import gql from "graphql-tag";
import {
  LMap,
  LTileLayer,
  LPolyline,
  LMarker,
  LIcon,
  LFeatureGroup
} from "vue2-leaflet";
import { latLngBounds, latLng } from "leaflet";
import polyline from "polyline-extended";
import MapMarker from "../map/MapMarker";
import { format, parseISO } from "date-fns";
import { fr } from "date-fns/locale";
import Qrcode from "@chenfengyuan/vue-qrcode";
import toTelephone from "../../helpers/toTelephone";

const START_POINT_LATLNG = latLng(43.44987, 5.8878328);
const TILE_URL = process.env.VUE_APP_TILE_URL;

export default {
  components: {
    LMap,
    LTileLayer,
    LPolyline,
    LMarker,
    LIcon,
    LFeatureGroup,
    MapMarker,
    Qrcode
  },
  apollo: {
    tournee: {
      query: gql`
        query($id: ID!) {
          tournee(id: $id) {
            id
            date
            zone {
              id
              nom
              communes
            }
          }
        }
      `,
      variables() {
        return { id: this.$route.params.id };
      }
    },
    itineraires: {
      query: gql`
        query($tourneeId: ID!) {
          itineraires(tourneeId: $tourneeId) {
            geometrie
            duree
            distance
            collectes {
              id
              nom
              telephone
              adresse
              longitude
              latitude
              encombrants
              notes
              creation
            }
            vehicule {
              id
              modele
            }
          }
        }
      `,
      variables() {
        return { tourneeId: this.$route.params.id };
      },
      update(data) {
        return data.itineraires.map(x => {
          const latLngs = polyline.decode(x.geometrie);
          const collectes = x.collectes.map((y, index) => ({
            ...y,
            index,
            latLng: latLng(y.latitude, y.longitude)
          }));
          return {
            ...x,
            collectes,
            latLngs,
            bounds: latLngBounds(collectes.map(y => y.latLng)),
            nombreCartes: 1
          };
        });
      },
      error(error) {
        this.$notify(error);
      }
    }
  },
  data: () => ({
    itineraires: [],
    url: TILE_URL,
    attribution:
      '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors',
    maxBounds: latLngBounds([
      [43.8692, 5.2171],
      [42.9202, 7.3732]
    ]),
    minZoom: 9,
    entrepot: START_POINT_LATLNG,
    center: START_POINT_LATLNG,
    headers: [
      { text: "#", value: "numero", divider: true },
      { text: "QR Code", value: "qrcode", divider: true },
      { text: "Appel", value: "appel", divider: true },
      { text: "Contact", value: "contact", divider: true },
      { text: "Adresse", value: "adresse", divider: true },
      {
        text: "Encombrants",
        value: "encombrants",
        divider: true
      },

      { text: "Notes", value: "notes", divider: true },
      { text: "Heure passage", divider: true },
      { text: "Fait", value: "fait", align: "center", divider: true },
      {
        text: "A téléphoné",
        value: "a_telephone",
        align: "center",
        divider: true
      },
      {
        text: "Motif (si non fait)",
        value: "motif",
        align: "center",
        divider: true
      },
      { text: "Encombrants supplémentaires", value: "supplements" }
    ],
    dechetteries: new Array(3).fill({}),
    dechetterieHeaders: [
      {
        text: "Heure de passage en déchetterie",
        value: "heure",
        align: "center",
        width: "30%",
        divider: true
      },
      {
        text: "Poids",
        value: "poids",
        align: "center",
        width: "30%",
        divider: true
      },
      {
        text: "Tourves",
        value: "checkbox",
        divider: true,
        align: "center",
        width: "100px"
      },
      {
        text: "Saint-Maximin",
        value: "checkbox",
        divider: true,
        align: "center",
        width: "100px"
      },
      {
        text: "Le Val",
        value: "checkbox",
        divider: true,
        align: "center",
        width: "100px"
      },
      {
        text: "La Roquebrussanne",
        value: "checkbox",
        divider: true,
        align: "center",
        width: "100px"
      },
      {
        text: "Brignoles",
        value: "checkbox",
        align: "center",
        width: "100px"
      }
    ]
  }),
  methods: {
    toTelephone,
    appelFormat(date) {
      const d = parseISO(date);
      return format(d, "d MMM", { locale: fr });
    },
    dureeFormat(seconds) {
      const minutes = Math.round((seconds % 3600) / 60);
      const heures = Math.trunc(seconds / 3600);
      return heures > 0 ? `${heures} h ${minutes} min` : `${minutes} min`;
    }
  },
  computed: {
    tourneeDate() {
      if (this.tournee && this.tournee.date) {
        const d = parseISO(this.tournee.date);
        return format(d, "P", { locale: fr });
      }
      return "";
    }
  }
};
</script>
<style>
.itineraire .collectes-table {
  font-size: 12px;
}
.itineraire .dechetteries-table {
  page-break-inside: avoid;
}
.map-row {
  height: 100vh;
}
@media print {
  html {
    font-size: 12px !important;
  }
  .pagebreak {
    break-before: page;
    clear: both;
  }
  .map-row {
    height: auto;
    padding-top: 4rem;
  }
  .itineraire .sheet-map {
    margin-bottom: 0 !important;
  }
  .itineraire .leaflet-control-zoom {
    display: none;
  }
  .itineraire .collectes-table tr,
  .itineraire .dechetteries-table {
    break-inside: avoid;
  }
}
</style>
