<template>
  <v-input :value="tournee" @input="input" :error="!valide" hide-details>
    <v-form ref="form" v-model="valide" style="width: 100%">
      <v-row>
        <v-col cols="6">
          <v-select
            v-model="tournee.creneau"
            :items="creneauPossibles"
            :rules="regles.creneau"
            label="Creneau"
            outlined
            required
          />
        </v-col>
        <v-col cols="6">
          <v-text-field
            v-model.number="tournee.places"
            :rules="regles.places"
            label="Places"
            type="number"
            outlined
            required
          />
        </v-col>
      </v-row>
      <v-row>
        <v-col>
          <v-select
            v-model="tournee.vehicules"
            :rules="regles.vehicules"
            :items="vehiculesTournee"
            :item-text="vehiculeModele"
            label="Vehicules"
            return-object
            multiple
            outlined
          ></v-select>
        </v-col>
      </v-row>
      <v-row v-if="tournee.vehicules.length">
        <v-col v-for="vehicule in tournee.vehicules" :key="vehicule.id">
          <v-text-field
            v-model.number="vehicule.quantite"
            :label="`Quantite - ${vehiculeModele(vehicule)}`"
            :rules="regles.vehicule"
            type="number"
            outlined
            required
          />
        </v-col>
      </v-row>
    </v-form>
  </v-input>
</template>
<script>
export default {
  props: {
    value: Object,
    vehicules: Array
  },
  data: () => ({
    valide: false,
    tourneeValue: undefined,
    tournee: { vehicules: [] },
    regles: {
      creneau: [v => !!v || "Le créneau est requis"],
      places: [
        v => !!v || "Le nombre de places est requis",
        v => v > 0 || "Le nombre doit être supérieur à 0"
      ],
      vehicules: [v => v.length > 0 || "Il faut au moins 1 vehicule"],
      vehicule: [v => v > 0 || "Le nombre doit être supérieur à 0"]
    },
    creneauPossibles: [
      { value: "MATIN", text: "Matin" },
      { value: "APRESMIDI", text: "Après-Midi" },
      { value: "JOURNEE", text: "Journée" }
    ]
  }),
  created: function() {
    if (this.value) this.tournee = { ...this.value };
  },
  computed: {
    vehiculesTournee() {
      return this.vehicules.map(({ id }) => ({ id, quantite: 1 }));
    }
  },
  watch: {
    value(tournee) {
      if (tournee && tournee != this.tournee)
        this.updateTournee({ ...tournee });
    },
    tournee: {
      deep: true,
      handler(t) {
        if (t) {
          this.tourneeValue = t;
          this.$emit("input", t);
        }
      }
    },
    tourneeValue(x) {
      if (!x) this.$refs.form.reset();
    }
  },
  methods: {
    input(value) {
      if (!value) this.updateTournee({ vehicules: [] });
    },
    updateTournee(tournee) {
      this.tournee = tournee;
      this.$refs.form.resetValidation();
    },
    vehiculeModele(vehiculeTournee) {
      return this.vehicules.find(x => x.id == vehiculeTournee.id)?.modele;
    }
  }
};
</script>
