<template>
  <v-menu
    v-model="picker"
    :close-on-content-click="false"
    transition="scale-transition"
    z-index="1000"
    min-width="290px"
    offset-y
  >
    <template v-slot:activator="{on}">
      <v-text-field
        type="date"
        v-model="date"
        v-bind="$attrs"
        v-on="{...on, ...$listeners}"
        :disabled="disabled"
        prepend-inner-icon="event"
        @click:prepend-inner="on.click"
      >
        <template slot>test</template>
      </v-text-field>
    </template>
    <v-date-picker
      v-model="date"
      :allowed-dates="allowedDates"
      :first-day-of-week="1"
      @update:picker-date="updateDatePicker"
      @input="picker = false"
    ></v-date-picker>
  </v-menu>
</template>
<script>
import gql from "graphql-tag";
import { parseISO, isFuture, isToday } from "date-fns";

export default {
  props: {
    value: String,
    zoneId: String,
    inverse: Boolean,
    disabled: Boolean,
    existante: Boolean
  },
  apollo: {
    tournees: {
      query: gql`
        query($zoneId: ID, $annee: Int!, $mois: Int!, $existante: Boolean) {
          tournees(
            zoneId: $zoneId
            annee: $annee
            mois: $mois
            existante: $existante
          ) {
            creneau
            date
            places
            placesReservees
          }
        }
      `,
      update(data) {
        const tournees = {};
        for (const tournee of data.tournees) {
          tournees[tournee.date] = tournee;
        }
        return tournees;
      },
      skip() {
        return !this.zoneId;
      },
      variables() {
        return {
          zoneId: this.zoneId || undefined,
          annee: this.tourneeAnnee,
          mois: this.tourneeMois,
          existante: this.existante
        };
      }
    }
  },
  data: () => ({
    date: undefined,
    picker: false,
    tournees: {},
    tourneeAnnee: new Date().getFullYear(),
    tourneeMois: new Date().getMonth()
  }),
  created() {
    this.date = this.value;
  },
  watch: {
    value(v) {
      this.date = v;
    },
    date(d) {
      this.$emit("input", d);
    }
  },
  methods: {
    allowedDates(date) {
      const d = parseISO(date);
      const v = !this.tournees[date];
      return (this.inverse ? v : !v) && (isFuture(d) || isToday(d));
    },
    updateDatePicker(date) {
      const [annee, mois] = date.split("-").map(x => parseInt(x));
      this.tourneeAnnee = annee;
      this.tourneeMois = mois;
    }
  }
};
</script>