<template>
  <v-container>
    <v-row>
      <v-col>
        <v-sheet height="64">
          <v-toolbar flat color="white">
            <v-btn
              outlined
              class="mr-4"
              color="grey darken-2"
              :disabled="moisCourant"
              @click="$router.replace(`/tournees/${today}`)"
            >Ce mois</v-btn>
            <v-btn fab text small color="grey darken-2" @click="prev">
              <v-icon small>mdi-chevron-left</v-icon>
            </v-btn>
            <v-btn fab text small color="grey darken-2" @click="next">
              <v-icon small>mdi-chevron-right</v-icon>
            </v-btn>
            <v-toolbar-title>{{ title }}</v-toolbar-title>
          </v-toolbar>
        </v-sheet>
        <v-sheet style="min-height: 600px">
          <v-calendar
            ref="calendar"
            :value="focus"
            @input="$router.replace(`/tournees/${$event}`)"
            :start="today"
            :weekdays="weekdays"
            :events="events"
            :event-color="x => x.color"
            :event-more="false"
            @click:event="showEvent"
            color="accent"
          >
            <template v-slot:event="{event}">
              <label class="font-weight-bold">{{event.zone.nom}}</label>
              {{event.text}}
            </template>
          </v-calendar>
        </v-sheet>
      </v-col>
    </v-row>
  </v-container>
</template>

<script>
import { format, formatISO, parseISO, isPast } from "date-fns";
import { fr } from "date-fns/locale";
import gql from "graphql-tag";

const tourneeColor = x => {
  const placesLibres = x.places - x.placesReservees;
  if (placesLibres <= 0) return "red";
  if (placesLibres <= 3) return "orange";
  if (x.placesReservees > 0) return "green";
  return "primary";
};

const creneauLabel = x => {
  switch (x) {
    case "MATIN":
      return "matin";
    case "APRESMIDI":
      return "après-midi";
    case "JOURNEE":
      return "journée";
  }
};

export default {
  apollo: {
    tournees: {
      query: gql`
        query($annee: Int!, $mois: Int!) {
          tournees(annee: $annee, mois: $mois) {
            id
            creneau
            date
            places
            placesReservees
            zone {
              id
              nom
              communes
            }
            vehicules {
              id
              quantite
            }
          }
        }
      `,
      variables() {
        const [annee, mois] = this.focus.split("-").map(x => parseInt(x));
        return {
          annee,
          mois
        };
      }
    }
  },
  data: () => ({
    today: formatISO(new Date(), { representation: "date" }),
    weekdays: [1, 2, 3, 4, 5, 6, 0],
    tournees: [],
    selectedEvent: {},
    selectedElement: null,
    selectedOpen: false,
    editDialog: false
  }),
  computed: {
    focus() {
      return this.$route.params.date;
    },
    title() {
      return format(parseISO(this.focus), "LLLL y", { locale: fr });
    },
    moisCourant() {
      const [annee1, mois1] = this.focus.split("-");
      const [annee2, mois2] = this.today.split("-");
      return annee1 === annee2 && mois1 === mois2;
    },
    events() {
      return this.tournees.map(x => ({
        ...x,
        creneauLabel: creneauLabel(x.creneau),
        dateLabel: format(parseISO(x.date), "EEEE, d LLLL", {
          locale: fr
        }),
        start: x.date,
        color: tourneeColor(x),
        text: x.zone.communes.join(", "),
        url: `/tournee/${x.id}/itineraires`
      }));
    }
  },
  methods: {
    isPast(date) {
      return isPast(parseISO(date));
    },
    prev() {
      this.$refs.calendar.prev();
    },
    next() {
      this.$refs.calendar.next();
    },
    edit() {
      this.selectedOpen = false;
      this.editDialog = true;
    },
    showEvent({ event }) {
      if (event.id) {
        this.$router.push(`/tournee/${event.id}`);
      }
    }
  }
};
</script>