<template>
  <div class="map-marker">
    <svg :style="{color: cssColor}" viewBox="0 0 210 297">
      D
      <circle cy="87.043533" cx="102.80199" fill="currentColor" r="55.34547" />
      <path
        d="m 101.379,217.22676 c 5.62843,-67.27189 30.38712,-79.43266 44.10003,-94.95096 H 60.124943 c 13.244208,15.46709 35.809168,27.77938 41.254057,94.95096 z"
        fill="currentColor"
      />
    </svg>
    <v-icon v-if="icon" color="white">
      <slot />
    </v-icon>
    <span v-else class="white--text">
      <slot />
    </span>
  </div>
</template>

<script>
export default {
  props: { color: String, icon: Boolean },
  computed: {
    cssColor() {
      return this.color.includes("#")
        ? this.color
        : this.$vuetify.theme.themes.light[this.color];
    }
  }
};
</script>

<style scoped>
.map-marker {
  position: relative;
  width: 100%;
  height: 100%;
}

.map-marker > svg {
  position: absolute;
}

.map-marker .v-icon,
.map-marker span {
  position: absolute;
  z-index: 201;
  font-size: 18px;
  text-align: center;
  width: 100%;
}

.map-marker .v-icon {
  top: 11px;
}

.map-marker span {
  font-size: 16px;
  font-weight: 900;
  top: 8px;
}
</style>