<template>
  <v-dialog :value="dialog" max-width="800">
    <v-card>
      <v-card-title class="text-h5">Nouvelle version !</v-card-title>
      <v-card-text class="text-body-1 mt-5">
        <v-progress-circular v-if="loading" indeterminate />
        <ul class="changelog-list" v-html="content"></ul>
      </v-card-text>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="fermer">Fermer</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
const VERSION = 6;

export default {
  data: () => ({ version: 0, loading: false, content: "" }),
  created() {
    let version = localStorage.getItem("changelog");
    if (version == null) {
      this.setVersion(0);
    } else {
      this.version = parseInt(version);
    }

    this.charger();
  },
  computed: {
    dialog() {
      return this.version < VERSION;
    }
  },
  methods: {
    setVersion(v) {
      localStorage.setItem("changelog", v);
      this.version = v;
    },
    async charger() {
      const urls = [];
      for (let i = this.version; i < VERSION; i++) {
        urls.push(`/changelogs/${i + 1}.html`);
      }
      if (urls.length > 0) {
        this.loading = true;
        try {
          const responses = await Promise.all(urls.map(x => fetch(x)));
          const bodies = await Promise.all(responses.map(x => x.text()));
          this.content = bodies.join("");
        } catch (error) {
          console.error(error);
        }
        this.loading = false;
      }
    },
    fermer() {
      this.setVersion(VERSION);
    }
  }
};
</script>

<style>
.changelog-list > li {
  margin-bottom: 16px;
}
.changelog-list > li:last-child {
  margin-bottom: 0;
}
</style>