<template>
  <v-container class="pa-0">
    <v-chip
      v-for="jour in jours"
      :key="jour.value"
      :color="jour.value == value ? 'primary': ''"
      :outlined="jour.value != value"
      class="mr-2"
      small
    >{{ jour.text }}</v-chip>
  </v-container>
</template>
<script>
import { fr } from "date-fns/locale";
export default {
  props: ["value"],
  data: () => ({
    jours: [1, 2, 3, 4, 5].map(x => ({
      text: fr.localize.day(x)[0],
      value: x
    }))
  })
};
</script>