<template>
  <v-dialog max-width="800" :value="dialog" @input="fermer">
    <v-form ref="form" v-model="valide" lazy-validation>
      <v-card>
        <v-card-title>Nouvelle zone</v-card-title>
        <v-card-text>
          <v-text-field outlined class="my-3" label="Nom" v-model="nom" :rules="nomRegles"></v-text-field>
          <v-autocomplete
            class="pt-1"
            v-model="communes"
            label="Communes"
            no-data-text="Aucune commune trouvée"
            :return-object="false"
            :items="communesPossible"
            :loader-height="3"
            :loading="communeRecheche && 'warning'"
            :rules="communesRegles"
            :search-input.sync="recherche"
            outlined
            required
            multiple
            deletable-chips
            cache-items
            chips
          />
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn text @click="fermer">Fermer</v-btn>
          <v-btn color="primary" text :disabled="!valide" @click.prevent="enregistrer">Enregistrer</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>
<script>
import gql from "graphql-tag";

const COMMUNE_QUERY = gql`
  query($recherche: String!) {
    commune(recherche: $recherche)
  }
`;

const ZONES_QUERY = gql`
  {
    zones {
      id
      nom
      communes
    }
  }
`;

const AJOUTER_ZONE_MUTATION = gql`
  mutation($zone: ZoneSaisie!) {
    ajouterZone(zone: $zone) {
      id
      nom
      communes
    }
  }
`;

export default {
  data: () => ({
    valide: false,
    nom: "",
    nomRegles: [v => !!v || "Le nom est requis"],
    communes: [],
    communesRegles: [v => v.length > 0 || "Au moins une commune est requise"],
    communeRecheche: false,
    communesPossible: [],
    recherche: ""
  }),
  computed: {
    dialog() {
      return this.$route.path.includes("/nouvelle");
    }
  },
  watch: {
    recherche(recherche) {
      if (!recherche) {
        this.communesPossible = [];
        return;
      }

      clearTimeout(this._timerId);

      this._timerId = setTimeout(() => {
        this.communeRecheche = true;
        this.$apollo
          .query({ query: COMMUNE_QUERY, variables: { recherche } })
          .then(({ data }) => {
            if (data && data.commune) {
              this.communesPossible = data.commune;
            }
          })
          .finally(() => (this.communeRecheche = false));
      }, 500);
    },
    communes() {
      this.recherche = null;
    }
  },
  methods: {
    filtreCommunes(item) {
      return this.communesPossible.includes(item);
    },
    fermer() {
      this.$refs.form.reset();
      this.$router.replace("/zones");
    },
    async enregistrer() {
      const valide = this.$refs.form.validate();
      if (valide) {
        try {
          await this.$apollo.mutate({
            mutation: AJOUTER_ZONE_MUTATION,
            variables: {
              zone: {
                nom: this.nom,
                communes: this.communes
              }
            },
            update: (store, { data: { ajouterZone } }) => {
              const data = store.readQuery({ query: ZONES_QUERY });
              data.zones.push(ajouterZone);
              store.writeQuery({ query: ZONES_QUERY, data });
            }
          });
          this.$emit("created");
          this.fermer();
        } catch (error) {
          this.$notify(error);
        }
      }
    }
  }
};
</script>