<template>
  <v-dialog max-width="1200" :value="ouvert" @input="input">
    <v-form ref="form" v-model="valide">
      <v-card>
        <v-card-title>{{ titre }}</v-card-title>
        <v-card-text>
          <v-row>
            <v-col>
              <v-select
                v-model="jour"
                :items="joursPossible"
                :rules="jourRegles"
                label="Jour"
                outlined
                required
              />
            </v-col>
          </v-row>
          <tournee-editeur v-model="tournee" :vehicules="vehicules" />
        </v-card-text>
        <v-card-actions>
          <v-btn v-if="modification" @click="supprimer" color="red" text>Supprimer</v-btn>
          <v-spacer></v-spacer>
          <v-btn text @click="fermer">Fermer</v-btn>
          <v-btn color="primary" text :disabled="!valide" @click.prevent="enregistrer">Enregistrer</v-btn>
        </v-card-actions>
      </v-card>
    </v-form>
  </v-dialog>
</template>
<script>
import { fr } from "date-fns/locale";
import TourneeEditeur from "../tournees/TourneeEditeur";
import gql from "graphql-tag";

const AJOUTER_TOURNEE_RECURRENTE_MUTATION = gql`
  mutation($configuration: TourneeConfigurationSaisie!, $jour: Int!) {
    ajouterTourneeRecurrente(configuration: $configuration, jour: $jour) {
      id
    }
  }
`;

const MODIFIER_TOURNEE_RECURRENTE_MUTATION = gql`
  mutation($id: ID!, $configuration: TourneeConfigurationSaisie!, $jour: Int!) {
    modifierTourneeRecurrente(
      id: $id
      configuration: $configuration
      jour: $jour
    ) {
      id
    }
  }
`;

const SUPPRIMER_TOURNEE_RECURRENTE_MUTATION = gql`
  mutation($id: ID!) {
    supprimerTourneeRecurrente(id: $id)
  }
`;

export default {
  props: { value: Object },
  components: { TourneeEditeur },
  apollo: {
    vehicules: gql`
      {
        vehicules {
          id
          modele
          quantite
        }
      }
    `
  },
  data: () => ({
    valide: false,
    tournee: undefined,
    jour: undefined,
    jourRegles: [v => !!v || "Le jour est requis"],
    joursPossible: [1, 2, 3, 4, 5].map(x => ({
      text: fr.localize.day(x),
      value: x
    })),
    vehicules: []
  }),
  computed: {
    ouvert() {
      return !!this.value.zoneId;
    },
    modification() {
      return !!this.value.tournee;
    },
    titre() {
      return this.modification
        ? "Modfier la tournee récurrente"
        : "Ajouter une tournee récurrente";
    }
  },
  watch: {
    value({ tournee }) {
      if (tournee) {
        this.jour = tournee.jour;
        this.tournee = {
          creneau: tournee.creneau,
          places: tournee.places,
          vehicules: tournee.vehicules
        };
      }
    }
  },
  methods: {
    input(value) {
      if (!value) this.fermer();
    },
    fermer() {
      this.$refs.form.reset();
      this.$emit("input", {});
    },
    async supprimer() {
      try {
        await this.$apollo.mutate({
          mutation: SUPPRIMER_TOURNEE_RECURRENTE_MUTATION,
          variables: {
            id: this.modification ? this.value.tournee.id : undefined
          }
        });

        this.fermer();
      } catch (error) {
        this.$notify(error);
      }
    },
    async enregistrer() {
      const valide = this.$refs.form.validate();
      if (valide) {
        try {
          await this.$apollo.mutate({
            mutation: this.modification
              ? MODIFIER_TOURNEE_RECURRENTE_MUTATION
              : AJOUTER_TOURNEE_RECURRENTE_MUTATION,
            variables: {
              id: this.modification ? this.value.tournee.id : undefined,
              jour: this.jour,
              configuration: { ...this.tournee, zoneId: this.value.zoneId }
            }
          });

          this.fermer();
        } catch (error) {
          this.$notify(error);
        }
      }
    }
  }
};
</script>