<template>
  <v-container>
    <v-row>
      <v-col v-for="zone in zones" :key="zone.id" cols="12" md="6">
        <v-card outlined>
          <v-card-title>{{zone.nom}}</v-card-title>
          <v-card-subtitle>
            <v-chip v-for="commune in zone.communes" :key="commune" class="mr-1">{{commune}}</v-chip>
          </v-card-subtitle>
          <v-subheader class="text-uppercase">
            <v-icon class="mr-2">schedule</v-icon>Tournées récurrentes
            <v-spacer />
            <v-btn @click="_ => ajouterTourneeRecurrente(zone.id)" color="primary" text>
              <v-icon>mdi-plus</v-icon>Ajouter
            </v-btn>
          </v-subheader>
          <v-list-item
            v-for="t in zone.tourneesRecurrentes"
            :key="t.id"
            @click="_ => modifierTourneeRecurrente(zone.id, t)"
          >
            <v-list-item-content class="py-0">
              <v-list-item-title class="text-uppercase">
                <jour-selection :value="t.jour" />
              </v-list-item-title>
            </v-list-item-content>
            <v-list-item-action>
              <v-icon>edit</v-icon>
            </v-list-item-action>
          </v-list-item>
        </v-card>
      </v-col>
    </v-row>
    <tournee-recurrente-dialog v-model="tourneeRecurrenteDialog" />
    <nouvelle-zone-dialog @created="$apollo.queries.zones.refresh()" />
  </v-container>
</template>
<script>
import gql from "graphql-tag";
import NouvelleZoneDialog from "./NouvelleZoneDialog";
import TourneeRecurrenteDialog from "./TourneeRecurrenteDialog";
import JourSelection from "./JourSelection";

export default {
  components: {
    NouvelleZoneDialog,
    TourneeRecurrenteDialog,
    JourSelection
  },
  apollo: {
    zones: gql`
      {
        zones {
          id
          nom
          communes
          tourneesRecurrentes {
            id
            jour
            creneau
            places
            vehicules {
              id
              quantite
            }
          }
        }
      }
    `
  },
  data: () => ({
    zones: [],
    tourneeRecurrenteDialog: {}
  }),
  watch: {
    tourneeRecurrenteDialog(dialog) {
      if (!dialog.zoneId) this.$apollo.queries.zones.refresh();
    }
  },
  methods: {
    ajouterTourneeRecurrente(zoneId) {
      this.tourneeRecurrenteDialog = { zoneId };
    },
    modifierTourneeRecurrente(zoneId, tournee) {
      this.tourneeRecurrenteDialog = { zoneId, tournee };
    }
  }
};
</script>