<template>
  <div>
    <span class="text-overline">{{label}}</span>
    <slot v-if="edit" :attrs="attrs" :on="on" />
    <v-text-field v-else v-on="on" v-bind="attrs" :value="value" />
  </div>
</template>

<script>
export default {
  props: {
    label: String,
    value: String
  },
  data: () => ({
    edit: false
  }),
  computed: {
    attrs() {
      return {
        solo: !this.edit,
        outlined: this.edit,
        flat: true,
        hideDetails: true,
        readonly: !this.edit,
        appendOuterIcon: this.edit ? "save" : "edit"
      };
    },
    on() {
      return {
        "click:append-outer": () => {
          this.edit = !this.edit;
          if (this.edit === false) this.$emit("save");
        }
      };
    }
  }
};
</script>