<template>
  <v-text-field
    type="tel"
    v-bind="$attrs"
    :rules="telephoneRegles"
    :value="displayValue"
    @input="onInput"
  />
</template>
<script>
import toTelephone from "../../helpers/toTelephone";

export default {
  props: {
    value: String
  },
  data: () => ({
    telephoneRegles: [
      v =>
        /^0[0-9] [0-9]{2} [0-9]{2} [0-9]{2} [0-9]{2}$/.test(v) ||
        "Le numero est invalide"
    ]
  }),
  computed: {
    displayValue() {
      return this.value ? toTelephone(this.value) : "";
    }
  },
  methods: {
    onInput(value) {
      this.$emit("input", value.replace(/\s/g, ""));
    }
  }
};
</script>