<li>
  <span class="font-weight-bold">Ajout de la page tournée</span> qui permet de
  visualiser la tournée, modifier sa configuration et visualiser et modifier les
  collectes de celle-ci.
</li>

<li>
  <span class="font-weight-bold"
    >Changement de l'action de clique sur une tournée dans le calendrier</span
  >, redirige vers la page de la tournée.
</li>

<li>
  <span class="font-weight-bold">Deplacement du bouton itineraires</span>
  vers la page de la tournée.
</li>

<li>
  <span class="font-weight-bold"
    >Visualisation des communes dans le calendrier</span
  >
  de la page de la tournée.
</li>

<li>
  <span class="font-weight-bold">Deplacement du bouton itineraires</span>
  vers la page de la tournée.
</li>

<li>
  <span class="font-weight-bold">Amélioration de la navigation</span>: retour
  vers la bonne date dans le calendrier.
</li>

<li>
  <span class="font-weight-bold"
    >Simplification de la dupliquation de collecte</span
  >: suppresion du bouton "Ajout & Copier" qui est remplacer par une redirection
  vers la page modification après l'ajout.
</li>

<li>
  <span class="font-weight-bold"
    >Changement de l'ordre des champs de l'enregistrement</span
  >: zone, date et encombrants sont maintenant en premier.
</li>

<li>
  <span class="font-weight-bold">Deplacement du bouton itineraires</span>
  vers la page de la tournée.
</li>

<li>
  <span class="font-weight-bold">Ajout de QR Codes dans les itineraires</span>
  pour lancer rapidement un application de navigation.
</li>

<li>
  <span class="font-weight-bold"
    >Ajout d'espaces dans les numéros de téléphone</span
  >: dans le champ de saisie et la visualisation de collecte.
</li>

<li>
  <span class="font-weight-bold">Changement du format de date</span> dans les
  champs de saisie de date.
</li>

<li>
  <span class="font-weight-bold">Ajout du résumé des modifications</span>
  lorsqu'une nouvelle version est déployé.
</li>
