<li>
  <span class="font-weight-bold">Liste des collectes toujours présente</span>
  sur la page tournée lorsque aucun itinéraire n'est trouvé.
</li>
<li>
  <span class="font-weight-bold"
    >Indication qu'un véhicule avec caractéristque est nécessaire</span
  >
  sur la page tournée, avec un "*" rouge à côté de l'intitulé "Vehicules".
</li>
<li>
  <span class="font-weight-bold"
    >Affichage des caractéristiques d'un véhicules</span
  >
  sur la page tournée, lors du survol d'un véhicule annoté d'un "*" rouge.
</li>
<li>
  <span class="font-weight-bold">Désactivation du bouton itineraires</span>
  sur la page tournée lorsque aucun itinéraire n'est trouvé.
</li>
