<li>
  <span class="font-weight-bold">Numéro de téléphone sur un ligne</span>
  sur la page itinéraire.
</li>
<li>
  <span class="font-weight-bold">Ajout d'un case à cocher "A téléphoné"</span>
  sur la page itinéraire.
</li>
<li>
  <span class="font-weight-bold">Ajout d'un champ "Autre"</span>
  dans le bandeau de la page itinéraire.
</li>
<li>
  <span class="font-weight-bold">Optimisation de l'espace</span>
  dans le bandeau de la page itinéraire (à tester).
</li>
