<li>
  <span class="font-weight-bold">Ajout du champ "Immatriculation"</span>
  sur la page itinéraire.
</li>
<li>
  <span class="font-weight-bold">Suppression de champs</span>
  sur la page itinéraire. (Envoyé au SIVED, Compta et Autre)
</li>
<li>
  <span class="font-weight-bold">Agrandissement du bandeau</span>
  de la page itinéraire.
</li>
<li>
  <span class="font-weight-bold">Ajout d'un bandeau "Administration"</span>
  libre ur la page itinéraire.
</li>
<li>
  <span class="font-weight-bold">Changement de "A téléphoné"</span>
  pour deux options, sur la page itinéraire.
</li>
<li><span class="font-weight-bold">Jours fériés ignorés</span>.</li>
