<li>
  <span class="font-weight-bold">Case compta</span> sur la page itineraire.
</li>
<li>
  <span class="font-weight-bold">Ajout de la fonctionnalitée rapport :</span>
  affiche un tableau annuel imprimable.
</li>
